<div
  *ngIf="
    dataLoaded && (carDetails | filterCarDetail: carFilterText).length == 0
  "
  class="alert alert-info w-100"
  role="alert"
>
  Not exist car by filter yet!
</div>
<div id="cars-list" class="row mx-3">
  <div
    *ngIf="!dataLoaded"
    class="d-flex justify-content-center align-items-center"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <app-car-card
    *ngFor="let carDetail of carDetails | filterCarDetail: carFilterText"
    [carDetail]="carDetail"
    class="{{ class }} p-3 pt-0"
  ></app-car-card>
</div>
