@import "../../../styles.scss";

:host {
  #links {
    a:hover {
      color: $main-color;
      transition: color 0.2s;
    }
  }
  #social-medias {
    a {
      i {
        transform: scale(1);
        transition: transform 0.2s;
      }
      &:hover {
        i {
          transform: scale(1.5);
          color: $main-color;
        }
      }
    }
  }
  #credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    a:hover {
      color: $main-color;
      transition: color 0.2s;
    }
  }
}
