<div id="filter-by-color-buttons" class="d-flex d-none d-lg-block">
  <button
    class="btn {{ isActive() }} me-2 rounded-1"
    (click)="setActiveColor()"
    routerLink=""
  >
    All
  </button>

  <div class="dropdown d-inline">
    <button
      class="btn btn-light dropdown-toggle text-secondary"
      type="button"
      id="search-brand-button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fas fa-search"></i>
    </button>
    <ul
      class="dropdown-menu bg-light shadow p-0"
      aria-labelledby="search-brand-button"
    >
      <li>
        <input class="form-control" type="text" [(ngModel)]="filterText" />
      </li>
    </ul>
  </div>

  <div
    *ngFor="let color of colors | filterColor: filterText"
    class="btn"
    (click)="setActiveColor(color.name)"
    routerLink=""
  >
    <i
      class="fas fa-circle fa-2x text-shadow-xl"
      [ngStyle]="{ color: color.name }"
    ></i>
  </div>
</div>

<div id="filter-by-color-select-menu" class="d-block d-lg-none">
  <select
    class="form-select"
    (change)="routeToCarsByColor($event)"
    value="{{ activeColorName }}"
  >
    <option [selected]="isSelected()">All</option>
    <option
      *ngFor="let color of colors"
      value="{{ color.name }}"
      [selected]="isSelected(color.name)"
    >
      {{ color.name }}
    </option>
  </select>
</div>
