@import "../../../styles.scss";

nav {
  .navbar-brand {
    font-size: 1.8rem;
  }
  * {
    z-index: 1;
  }
  .nav-link {
    position: relative;
    margin: 0 0.8rem;
    color: $dark !important;
    font-size: 1.1rem;
    font-family: "Poppins";
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: $main-color;
      border-radius: 1rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover::after,
    &.active::after {
      opacity: 1;
    }
  }

  .btn {
    font-weight: bold;
    z-index: 1;
  }
}
