<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class="fw-bold mb-5">Sign Up</h1>
      <form [formGroup]="registerForm">
        <div class="mb-3">
          <label for="first-name-input" class="form-label"
            >Enter your first name</label
          >
          <div class="input-group has-validation">
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registerForm.controls['firstName'].errors &&
                  (registerForm.controls['firstName'].touched ||
                    registerForm.controls['firstName'].dirty),
                'is-valid':
                  !registerForm.controls['firstName'].errors &&
                  (registerForm.controls['firstName'].touched ||
                    registerForm.controls['firstName'].dirty)
              }"
              id="first-name-input"
              placeholder="Ahmet"
            />
            <div class="invalid-feedback">Please enter your first name.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="last-name-input" class="form-label"
            >Enter your last name</label
          >
          <div class="input-group has-validation">
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registerForm.controls['lastName'].errors &&
                  (registerForm.controls['lastName'].touched ||
                    registerForm.controls['lastName'].dirty),
                'is-valid':
                  !registerForm.controls['lastName'].errors &&
                  (registerForm.controls['lastName'].touched ||
                    registerForm.controls['lastName'].dirty)
              }"
              id="last-name-input"
              placeholder="Çetinkaya"
            />
            <div class="invalid-feedback">Please enter your last name.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email-input" class="form-label"
            >Enter your email address</label
          >
          <div class="input-group has-validation">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registerForm.controls['email'].errors &&
                  (registerForm.controls['email'].touched ||
                    registerForm.controls['email'].dirty),
                'is-valid':
                  !registerForm.controls['email'].errors &&
                  (registerForm.controls['email'].touched ||
                    registerForm.controls['email'].dirty)
              }"
              id="email-input"
              placeholder="name@example.com"
            />
            <div class="invalid-feedback">Please enter your email.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password-input" class="form-label"
            >Enter your password</label
          >
          <div class="input-group has-validation">
            <input
              [type]="isPasswordHidden()"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  registerForm.controls['password'].errors &&
                  (registerForm.controls['password'].touched ||
                    registerForm.controls['password'].dirty),
                'is-valid':
                  !registerForm.controls['password'].errors &&
                  (registerForm.controls['password'].touched ||
                    registerForm.controls['password'].dirty)
              }"
              id="password-input"
              placeholder="***********"
            />
            <div
              (click)="togglePasswordHidden()"
              class="input-group-text cursor-pointer"
            >
              <i class="fa {{ isPasswordHiddenIcon() }}" aria-hidden="true"></i>
            </div>
            <div class="invalid-feedback">Please enter your password.</div>
          </div>
        </div>

        <button
          (click)="register()"
          class="btn btn-primary btn-lg rounded-1 shadow-xl w-100"
        >
          Sign up
        </button>
      </form>

      <div class="d-flex mt-5">
        <p class="my-auto text-secondary me-2">
          If you already have an account
        </p>
        <a routerLink="/login" class="btn btn-outline-success rounded-3"
          >Log in now</a
        >
      </div>
    </div>

    <div class="col-md d-none d-md-block my-auto">
      <h1 class="display-6 fw-light text-secondary text-center mb-5">
        Thank you for choosing us
      </h1>
      <img
        id="car-image"
        class="img-fluid"
        src="../../../../assets/images/blue-car.png"
      />
      <a class="d-none" href="https://www.freepik.com/vectors/background"
        >Background vector created by rawpixel.com - www.freepik.com</a
      >
    </div>
  </div>
</div>
