<div class="container d-flex justify-content-center align-items-center">
  <div *ngIf="paymentSuccessfull" id="payment-successfull">
    <div class="text-center">
      <i class="fas fa-check-circle text-success mb-5"></i>
      <p class="display-6">Your payment is successful!</p>
    </div>
  </div>
  <form *ngIf="!paymentSuccessfull">
    <h1 class="display-6 fw-bold my-3">Payment</h1>
    <div class="mb-3">
      <label for="name-on-card-input" class="form-label">Name on card</label>
      <input
        type="text"
        class="form-control"
        id="name-on-card-input"
        placeholder="Ahmet Çetinkaya"
        required
      />
    </div>
    <div class="mb-3">
      <label for="name-on-card-input" class="form-label">Card number</label>
      <input
        type="text"
        class="form-control"
        id="name-on-card-input"
        placeholder="0000-0000-0000-0000"
        required
      />
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="expiration-date-input" class="form-label"
          >Expiration Date</label
        >
        <div id="expiration-date-input" class="input-group">
          <input
            type="number"
            class="form-control"
            placeholder="Month"
            required
          />
          <span class="input-group-text">/</span>
          <input
            type="number"
            class="form-control"
            placeholder="Year"
            required
          />
        </div>
      </div>

      <div class="col mb-3">
        <label for="cvv-input" class="form-label">CVV</label>
        <input
          id="cvv-input"
          type="number"
          class="form-control"
          placeholder="000"
          required
        />
      </div>
    </div>

    <button (click)="payment()" type="submit" class="btn btn-primary w-100">
      Pay
    </button>
  </form>
</div>
