<div class="container">
  <h1 class="fw-bold">Account</h1>
  <app-loading-spinner *ngIf="!accountForm"></app-loading-spinner>
  <form *ngIf="accountForm" [formGroup]="accountForm">
    <h2 class="fw-light">Information</h2>
    <div class="row">
      <div class="col-sm">
        <div class="mb-3">
          <label for="first-name-input" class="form-label">First name</label>
          <div class="input-group has-validation">
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  accountForm.controls['firstName'].errors &&
                  (accountForm.controls['firstName'].touched ||
                    accountForm.controls['firstName'].dirty),
                'is-valid':
                  !accountForm.controls['firstName'].errors &&
                  (accountForm.controls['firstName'].touched ||
                    accountForm.controls['firstName'].dirty)
              }"
              id="first-name-input"
              placeholder="Ahmet"
            />
            <div class="invalid-feedback">Please enter your first name.</div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="mb-3">
          <label for="last-name-input" class="form-label">Last name</label>
          <div class="input-group has-validation">
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  accountForm.controls['lastName'].errors &&
                  (accountForm.controls['lastName'].touched ||
                    accountForm.controls['lastName'].dirty),
                'is-valid':
                  !accountForm.controls['lastName'].errors &&
                  (accountForm.controls['lastName'].touched ||
                    accountForm.controls['lastName'].dirty)
              }"
              id="last-name-input"
              placeholder="Çetinkaya"
            />
            <div class="invalid-feedback">Please enter your last name.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="company-name-input" class="form-label">Company name</label>
      <div class="input-group has-validation">
        <input
          formControlName="companyName"
          type="text"
          id="company-name-input"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              accountForm.controls['companyName'].errors &&
              (accountForm.controls['companyName'].touched ||
                accountForm.controls['companyName'].dirty),
            'is-valid':
              !accountForm.controls['companyName'].errors &&
              (accountForm.controls['companyName'].touched ||
                accountForm.controls['companyName'].dirty)
          }"
          placeholder="{{ (userDetail$ | async)?.firstName }} {{
            (userDetail$ | async)?.lastName
          }}"
        />
        <div class="invalid-feedback">Please enter your last name.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email-input" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control text-secondary"
        id="email-input"
        placeholder="name@example.com"
        [value]="(userDetail$ | async)?.email"
        [attr.disabled]="true"
      />
    </div>

    <h2 class="fw-light">Findeks</h2>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="national-identity-input" class="form-label">
            National Identity (Optional)
          </label>
          <div class="input-group has-validation">
            <input
              id="national-identity-input"
              formControlName="nationalIdentity"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  accountForm.controls['nationalIdentity'].errors &&
                  (accountForm.controls['nationalIdentity'].touched ||
                    accountForm.controls['nationalIdentity'].dirty),
                'is-valid':
                  !accountForm.controls['nationalIdentity'].errors &&
                  (accountForm.controls['nationalIdentity'].touched ||
                    accountForm.controls['nationalIdentity'].dirty)
              }"
              placeholder="Enter your national identity"
            />
            <div class="invalid-feedback">
              Please enter your national identity.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="findeks-score-input" class="form-label">
            Findeks Score
          </label>
          <input
            id="findeks-score-input"
            [attr.disabled]="true"
            type="number"
            class="form-control"
            [value]="findeks.score"
          />
        </div>
      </div>
    </div>

    <h2 class="fw-light">Security</h2>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="current-password-input" class="form-label"
            >Enter current password</label
          >
          <div class="input-group has-validation">
            <input
              [type]="isCurrentPasswordHidden()"
              formControlName="currentPassword"
              id="current-password-input"
              class="form-control"
              [ngClass]="{
                'is-invalid': accountForm.controls['currentPassword'].errors
              }"
              placeholder="***********"
            />
            <div
              (click)="toggleCurrentPasswordHidden()"
              class="input-group-text cursor-pointer"
            >
              <i
                class="fa {{ isCurrentPasswordHiddenIcon() }}"
                aria-hidden="true"
              ></i>
            </div>
            <div class="invalid-feedback">Please enter your password.</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="new-password-input" class="form-label">
            Enter new password (Optional)
          </label>
          <div class="input-group has-validation">
            <input
              [type]="isNewPasswordHidden()"
              formControlName="newPassword"
              id="new-password-input"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  accountForm.controls['newPassword'].errors &&
                  (accountForm.controls['newPassword'].touched ||
                    accountForm.controls['newPassword'].dirty)
              }"
              placeholder="***********"
            />
            <div
              (click)="toggleNewPasswordHidden()"
              class="input-group-text cursor-pointer"
            >
              <i
                class="fa {{ isNewPasswordHiddenIcon() }}"
                aria-hidden="true"
              ></i>
            </div>
            <div class="invalid-feedback">Please enter your password.</div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="updateAccount()" class="btn btn-primary">
      Update Account
    </button>
  </form>
</div>
