<div class="container">
  <div class="row">
    <div class="col-xl-5 d-flex justify-content-center align-items-center">
      <div>
        <h1 class="display-6">Looking to travel freely with a rental car?</h1>
        <p class="col-10">
          Explore the opportunities of ReCap Projects with flexible payment and
          a range of car options.
        </p>
      </div>
    </div>
    <div class="col-xl-7 d-none d-xl-block">
      <div id="card-bg" class="bg-primary-gradient rounded-3 shadow">
        <img
          src="../../../assets/images/tire-track.png"
          alt="Designed by starline / Freepik"
        />
      </div>
      <img
        id="car-image"
        src="../../../assets/images/white-car.png"
        height="400"
      />
    </div>
    <app-search></app-search>
    <div id="steps" class="my-5">
      <p class="text-center text-muted"><strong>HOW IT WORKS?</strong></p>
      <h4 class="display-5 text-center">Rent a car following 3 steps</h4>
      <div
        id="cards"
        class="d-flex justify-content-center align-items-center my-5"
      >
        <div
          class="text-center card bg-light rounded-3 shadow align-items-center mx-3 m-lg-0"
        >
          <i class="fas fa-map-marker-alt fa-2x p-5 text-primary"></i>
          <h4 class="fw-bold">Choose a location</h4>
          <p class="w-70">Can choose any of our dealers.</p>
        </div>
        <img
          src="../../../assets/images/line.svg"
          class="col-2 img-fluid seperator d-none d-lg-block"
        />
        <div
          class="text-center card bg-light rounded-3 shadow align-items-center mx-3 m-lg-0"
        >
          <i class="far fa-calendar-check fa-2x p-5 text-primary"></i>
          <h4 class="fw-bold">Pick-up Date</h4>
          <p class="w-70">Can choose a range of date.</p>
        </div>
        <img
          src="../../../assets/images/line.svg"
          class="col-2 flip-vertical img-fluid seperator d-none d-lg-block"
        />
        <div
          class="text-center card bg-light rounded-3 shadow align-items-center mx-3 m-lg-0"
        >
          <i class="fas fa-car fa-2x p-5 text-primary"></i>
          <h4 class="fw-bold">Book Your Car</h4>
          <p class="w-70">Can choose car from the rich catalog.</p>
        </div>
      </div>
    </div>
  </div>
</div>
