<label [for]="id" class="form-label">{{ label }}</label>
<div class="input-group has-validation">
  <input
    [type]="isPasswordHidden()"
    [id]="id"
    [disabled]="disabled"
    class="form-control"
    [ngClass]="{
      'is-invalid': errors && (touched || dirty)
    }"
    placeholder="***********"
  />

  <div (click)="togglePasswordHidden()" class="input-group-text cursor-pointer">
    <i class="fa {{ isPasswordHiddenIcon() }}" aria-hidden="true"></i>
  </div>
  <div class="invalid-feedback">{{ invalidFeedback }}</div>
</div>
