<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Car Id</th>
      <th scope="col">Customer Id</th>
      <th scope="col">Rent Start Date</th>
      <th scope="col">Rent End Date</th>
      <th scope="col">Return Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <th scope="row">{{ rental.id }}</th>
      <td>{{ rental.carId }}</td>
      <td>{{ rental.customerId }}</td>
      <td>{{ rental.rentStartDate }}</td>
      <td>{{ rental.rentEndDate }}</td>
      <td>{{ rental.returnDate }}</td>
    </tr>
  </tbody>
</table>
